/* Templates */
@import "../abstract/variables";

.template {
  width: 100%;
  padding: 120px 0;

  &__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;  
    color: $textGray;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }

  &__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    color: $textYellow;
    text-align: center;
    padding-bottom: 60px;

    @media screen and (max-width:576px) {
      font-size: 2.6rem;
    }
  }

  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 20px;

    @media screen and (max-width:1200px) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    @media screen and (max-width:991px) {
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    }

    @media screen and (max-width:340px) {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
  }

  &__card {
    border: 1px solid #4B4136;
    padding: 40px;
    cursor: pointer;
    text-align:center;

    @media screen and (max-width:992px) {
      padding: 20px;
    }

    &-imgbox {
      img {
        transition: .3s ease-in-out;
        &:hover {
          transform:scale(1.2);
        }
      }
    }
  }

  &__desc {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
}