* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181511;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

a,
button,
i {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

button, input {
  border: none;
  outline: none;
}

section {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.services {
  width: 100%;
  padding: 120px 0;
}
.services__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
@media screen and (max-width: 400px) {
  .services__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .services__cards {
    grid-gap: 10px;
  }
}
.services__card {
  border: 1px solid #4B4136;
  padding: 3.75rem 1rem 4.6rem 3.75rem;
  flex: 1;
}
@media screen and (max-width: 576px) {
  .services__card {
    padding: 2rem 1rem 4.6rem 2rem;
  }
}
.services__card-2 {
  margin-top: 3px;
}
.services__card-3 {
  margin-top: 10px;
}
.services__title {
  width: 100%;
  font-weight: 400;
  font-size: 29px;
  line-height: 40px;
  color: #FFAE2B;
  padding-bottom: 10px;
}
.services__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #ACA592;
}
.services__desc {
  width: 222px;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  color: #ACA592;
}

/* Templates */
.template {
  width: 100%;
  padding: 120px 0;
}
.template__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #ACA592;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.template__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #FFAE2B;
  text-align: center;
  padding-bottom: 60px;
}
@media screen and (max-width: 576px) {
  .template__title {
    font-size: 2.6rem;
  }
}
.template__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 20px;
}
@media screen and (max-width: 1200px) {
  .template__cards {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
@media screen and (max-width: 991px) {
  .template__cards {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
}
@media screen and (max-width: 340px) {
  .template__cards {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
.template__card {
  border: 1px solid #4B4136;
  padding: 40px;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .template__card {
    padding: 20px;
  }
}
.template__card-imgbox img {
  transition: 0.3s ease-in-out;
}
.template__card-imgbox img:hover {
  transform: scale(1.2);
}
.template__desc {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

/* Header section*/
.header {
  width: 100%;
}
.header__content {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.header__content #check {
  display: none;
}
.header__content label {
  display: none;
  cursor: pointer;
  color: #fff;
}
@media (max-width: 768px) {
  .header__content label {
    display: block;
    position: absolute;
    right: 5%;
  }
}
.header__content .navigation {
  display: flex;
  padding-top: 5px;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__content .navigation {
    transition: all 0.5s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80px;
    right: -100vw;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: #181511;
  }
}
.header__content #check:checked ~ .navigation {
  right: 0;
}
.header__content .navigation li a {
  color: #ACA592;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .header__content .navigation li a {
    font-size: 20px;
    line-height: 18px;
  }
}
.header__content .navigation li a:hover {
  color: #FFAE2B;
}
.header__brand {
  vertical-align: middle;
}
.header__logo {
  font-weight: 400;
  font-size: 30px;
  color: #FFAE2B;
  padding-right: 40px;
}
.header__navs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__btns {
  position: absolute;
  right: 5%;
}
@media screen and (max-width: 768px) {
  .header__btns {
    display: none;
  }
}
.header__btns a {
  color: #FFAE2B;
}

/* Showcase section */
.showcase {
  width: 100%;
  background-image: url(../images/showcase/bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.showcase__open-icon {
  padding: 18px;
  border-radius: 50%;
  background-color: #F5F6F7;
}
.showcase__open-icon i {
  font-size: 20px;
  vertical-align: middle;
}
.showcase__info {
  padding: 140px 0 320px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .showcase__info {
    padding: 100px 0 200px 0;
  }
}
@media screen and (max-width: 576px) {
  .showcase__info {
    padding: 80px 0 100px 0;
  }
}
.showcase__subtitle {
  font-size: 14px;
  color: #FFAE2B;
  font-weight: 400;
  padding-bottom: 15px;
}
.showcase__title {
  width: 60%;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  color: #fff;
  padding-bottom: 35px;
  line-height: 80px;
}
@media screen and (max-width: 991px) {
  .showcase__title {
    width: 100%;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 576px) {
  .showcase__title {
    font-size: 3.125rem;
    line-height: 50px;
  }
}
@media screen and (max-width: 475px) {
  .showcase__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .showcase__title {
    font-size: 2rem;
  }
}
.showcase__btn {
  color: #181511;
  background-color: #FFAE2B;
}

.python img {
  width: 100%;
}

.socials {
  width: 100%;
}
.socials__cards {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 991px) {
  .socials__cards {
    flex-wrap: wrap;
    gap: 60px;
  }
}
.socials__card {
  display: flex;
  flex: 1;
  position: relative;
}
@media screen and (max-width: 991px) {
  .socials__card {
    flex-basis: 45%;
  }
}
@media screen and (max-width: 576px) {
  .socials__card {
    flex-basis: 100%;
  }
}
.socials__card-icon {
  position: absolute;
  left: 40%;
  top: -30px;
  z-index: 20;
}
@media screen and (max-width: 991px) {
  .socials__card-icon {
    left: 43%;
  }
}
@media screen and (max-width: 768px) {
  .socials__card-icon {
    left: 40%;
  }
}
.socials__card-image {
  width: 100%;
}

.footer {
  width: 100%;
  padding-top: 125px;
}
@media screen and (max-width: 576px) {
  .footer {
    padding-top: 80px;
  }
}
.footer__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__title {
  width: 517px;
  text-align: center;
  color: #FFAE2B;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 70px;
}
@media screen and (max-width: 576px) {
  .footer__title {
    font-size: 2.7rem;
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .footer__title {
    width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .footer__title {
    width: 330px;
  }
}
@media screen and (max-width: 340px) {
  .footer__title {
    width: 300px;
    font-size: 2rem;
    line-height: 50px;
  }
}
@media screen and (max-width: 300px) {
  .footer__title {
    font-size: 2rem;
    line-height: 40px;
  }
}
.footer__desc {
  color: #ACA592;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  line-height: 28px;
  padding: 20px 0 80px;
}
.footer__boxs-header {
  width: 420px;
  height: 59px;
  border: 1px solid #4B4136;
  background-color: #181511;
}
@media screen and (max-width: 475px) {
  .footer__boxs-header {
    width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .footer__boxs-header {
    width: 300px;
  }
}
@media screen and (max-width: 340px) {
  .footer__boxs-header {
    width: 250px;
  }
}
.footer__boxs-bottom {
  width: 420px;
  height: 50px;
  background-color: #FFAE2B;
}
@media screen and (max-width: 475px) {
  .footer__boxs-bottom {
    width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .footer__boxs-bottom {
    width: 300px;
  }
}
@media screen and (max-width: 340px) {
  .footer__boxs-bottom {
    width: 250px;
  }
}
.footer__text-social {
  width: 380px;
  padding: 30px 0 20px;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #ACA592;
}
@media screen and (max-width: 375px) {
  .footer__text-social {
    width: 300px;
  }
}
@media screen and (max-width: 340px) {
  .footer__text-social {
    width: 250px;
  }
}
.footer .footer__socials {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
.footer .footer__socials-box {
  padding: 14px;
  border: 1px solid #4B4136;
  cursor: pointer;
}
.footer .footer__socials-box:hover {
  transform: scale(1.1);
}
.footer .footer__bottom {
  width: 100%;
  border-top: 1px solid #4B4136;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  gap: 11px;
}
@media screen and (max-width: 576px) {
  .footer .footer__bottom {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
.footer .footer__bottom-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #ACA592;
}
.footer .footer__bottom-items {
  display: flex;
  justify-content: space-between;
  gap: 11px;
}
@media screen and (max-width: 576px) {
  .footer .footer__bottom-items {
    justify-content: space-around;
    width: 100%;
  }
}
.footer .footer__bottom-item {
  color: #FFAE2B;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
}

.button {
  padding: 15px 25px;
  border: 1px solid #FFAE2B;
  font-weight: 400;
  font-size: 11px;
}

/*# sourceMappingURL=style.css.map */
